<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FizzBuzz.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4FC42F3D1D2CF32900DB07FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FC42F511D2CF32900DB07FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FC42F5C1D2CF32900DB07FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
